@page
@model TMWork.Pages.Admin.Contact.SendMailModel
@{
    ViewData["Title"] = "SendMail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>SendMail</h1>
<hr/>
<center>
<h3> Email has been sent!</h3>
</center>

