<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>ContactUs</title>
</head>

<body>
    <!------ Include the above in your HEAD tag ---------->
    <section id="contact">
        <div class="container">
            <div class="well well-sm">
                <h3><strong>Invoice Informaiton</strong></h3>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <form>
                        <div class="form-group">
                            <b>Invoice Number:</b> {InvoiceId}
                        </div>
                        <div class="form-group">
                            <b>Invoice Date:</b> {InvoiceDate}  <b>Invoice Name:</b> {InvoiceName}
                        </div>
                        <div class="form-group">
                            <b>First Name:</b> {FirstName}  <b>Last Name:</b> {LastName}
                        </div>
                        <div class="form-group">
                            <b>Phone:</b> {Phone}
                        </div>
                        <div class="form-group">
                            <b>Email:</b> {Email}
                        </div>
                        <div class="form-group">
                            <b>Work Notes:</b> {WorkNotes}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>